* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
}

.container {
    display: flex;

}

.card {
    width: 25vw;
    height: 30vh;
    border-radius: 20px;
    background: white;
}